.contenu, .contenu h1 {
    font-weight: 200;  
}

.contenu h1 {
    font-size: 70px;
}

.contenu {
    font-size: 20px;
}

/*table {
    margin: auto;
}

td {
    padding: 10px;
}

input, textarea {
    padding: 10px;
    border: 2px solid #cfc077;
    border-radius: 4px;
}

input:focus, textarea:focus, input:hover, textarea:hover {
    background-color: #cfc077;
    color: white;
}

textarea:focus {
    width: 900px;
    height: 300px;
}*/