#droite {
    background-color: #F2F2F2;
    vertical-align: top;
    margin: 3%;
    padding: 2%;
}

#gauche {
    margin: 3%;
    padding: 2%;
}

.contenu, .contenu h1 {
    font-weight: 200;
}

ul {
    list-style-type: '- ';
}

/*MOBILE*/
@media only screen and (max-width: 1000px) {
    #gauche, #droite {
        width: 90%;
        padding: 2%;
        margin: 3%;
    }
}