.contenu, .contenu h1 {
    font-weight: 200;  
}

.contenu h1 {
    font-size: 70px;
}

tr, td {
    border: 1px solid rgb(216, 216, 216);
    border-collapse: collapse;
}

td {
    padding: 10px;
}

table {
    border-collapse: collapse;
    width: 90%;
    text-align: center;
    margin: auto;
}

/*RESPONSIVE*/
@media only screen and (max-width: 1600px) {
    .contenu h1 {
        font-size: 60px;
    }
}

/*MOBILE*/
@media only screen and (max-width: 1000px) {
    .contenu h1 {
        font-size: 50px;
    }

    table {
        font-size: 16px;
    }

    td {
        padding: 1%;
    }

    .contenu {
        margin: 2%;
    }
}