iframe {
    border: 0;
    width: 100%;
    height: 100%;
}

#droite {
    vertical-align: top;
    width: 75%;
    margin-top: 0;
}

.contenu {
    font-weight: 200;
}

.contenu h1 {
    font-weight: 200;
}

.contenu ul {
    list-style-type: '- ';
}

.cellule {
    width: 40%;
    display: inline-block;
    vertical-align: top;
    height: 500px;
    text-align: left;
}

.ligne {
    margin: 30px;
    text-align: center;
}

/*RESPONSIVE*/
@media only screen and (max-width: 1375px) {
    .cellule {
        width: 48%;
        
    }
}

/*MOBILE*/
@media only screen and (max-width: 1000px) {
    .cellule {
        display: block;
        width: 100%;
    }

    #texte {
        overflow: auto;
    }
}