.contenu, .contenu h1 {
    font-weight: 200;  
}

.contenu h1 {
    font-size: 70px;
}

.entraineur, .entraineur h1, .entraineur h3, .entraineur-benevole, .entraineur-benevole h1 {
    font-weight: 200;
}

.entraineur, .entraineur-benevole {
    background-color: #b9b9b9;
    width: 355px;
    padding: 10px;
    padding-left: 30px;
    border-radius: 10px;
    margin: 50px;
    display: inline-block;
    vertical-align: top;
    box-shadow: 1px 1px 5px #555;
}

.entraineur-benevole {
    margin: 2%;
}

/*MOBILE*/
@media only screen and (max-width: 1000px) {
    .entraineur, .entraineur-benevole {
        width: 70%;
        padding: 5%;
        margin:0;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    body {
        text-align: center;
    }

    .contenu h1 {
        font-size: 40px;
    }
}